<div class="travel-container">
  <h1>Travel Planner</h1>

  <form [formGroup]="travelForm" (ngSubmit)="submit()">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Source Location</mat-label>
      <input matInput formControlName="source" placeholder="Enter source" appGooglePlaces
        (placeSelected)="onSourcePlaceSelected($event)">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Destination Location</mat-label>
      <input matInput formControlName="destination" placeholder="Enter destination" appGooglePlaces
        (placeSelected)="onDestinationPlaceSelected($event)">
    </mat-form-field>


    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Travel Dates</mat-label>
      <mat-date-range-input [rangePicker]="rangePicker" [formGroup]="travelForm">
        <input matStartDate formControlName="startDate" placeholder="Start date">
        <input matEndDate formControlName="returnDate" placeholder="Return date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Number of Adults</mat-label>
      <input matInput type="number" formControlName="adults" min="1">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Number of Children</mat-label>
      <input matInput type="number" formControlName="children" min="0">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Budget ($)</mat-label>
      <input matInput type="number" formControlName="budget" min="0">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="travelForm.invalid || loading">
      {{ loading ? 'Planning...' : 'Plan Trip' }}
    </button>
  </form>
</div>

<react-mfe widget="PlanCard" #planMfe></react-mfe>
<react-mfe widget="DestinationsGrid" #destinationsMfe></react-mfe>